@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Press+Start+2P&display=swap');

body {
    font-family: 'Handjet', cursive;
    font-family: 'Press Start 2P', cursive;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #main {
        flex-flow: column nowrap;
    }
    #boardArea {
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        justify-content:center;
        align-items:center;
    }
    .content {
        padding: 0px;
        width: 80%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .content .title {
        text-align: center;
    }
    .content h1 {
        font-size: 1.3rem;
    }
    .content p {
        font-size: 0.6rem;
    }
}
@media screen and (min-width: 769px) {
    #main {
        flex-flow: row wrap;
    }
    #boardArea {
        width: 45%;
    }
    .content {
        padding: 10px;
        width: 45%;
        height: 80%;
        justify-content: space-between;
        align-items: center;
    }
    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }
}


.content {
    display: flex;
    flex-flow: column nowrap;
}

.text {
    text-align: center;
}

#subtext {
    font-size: 8px;
}

.content h1 {
    margin-bottom: 0;
}

.cell  {
    border: 1px solid black;
}

.cell:hover {
    cursor: pointer;
}

.alive {
    background-color: black;
}

.dead {
    background-color: transparent;
}